*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: cornflowerblue;

}
.card{
    width: 800px;
    background-color:whitesmoke;
    padding: 20px;
    margin: 20px;
    line-height: 25px;
}
/*scrollbar*/
::-webkit-scrollbar{
    background-color: transparent;
    width: 17px;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(#FF3CAC,#784BA0,#2B86C5);
    border-radius: 200px;
}